.storybook-container {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

/* Buttons */

.btn {
  padding: .5rem 1rem;
  color: black;
  background-color: silver;
  border-radius: 4px;
  border: none;
  transition: all .5s;
}

.btn:hover {
  color: silver;
  background-color: black;
}

.btn.btn-primary {
  color: black;
  background-color: hotpink;
}

.btn.btn-primary:hover {
  color: hotpink;
  background-color: black;
}

.btn.btn-secondary {
  color: lemonchiffon;
  background-color: red;
}

.btn.btn-secondary:hover {
  color: red;
  background-color: lemonchiffon;
}

/* Inputs */