@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

.storybook-container {
  padding: 1rem 0;
}

.storybook-container-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Buttons */

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #ff9d44;
  color: #fff;
}

.btn.btn-secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn.btn-disabled {
  background-color: rgba(7, 7, 7, 0.2);
  color: rgba(7, 7, 7, 0.3);
}

.btn.btn-disabled:hover {
  cursor: not-allowed;
}

/* Inputs */

.input {
  padding: 8px 20px;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
}

.input-size-one {
  width: 20rem;
}

.input-size-two {
  width: 32rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../icons/Chevron/chevron-down.svg) no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
}

.input[type='date']::-webkit-inner-spin-button,
.input[type='date']::-webkit-calendar-picker-indicator {
  background: url(../icons/Other/calendar.svg) no-repeat;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-rent,
.input-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.input-rent {
  width: max-content;
}

.input-rent span {
  position: absolute;
  right: 1rem;
  top: 20%;
  font-weight: 600;
  color: #8d8d8d;
}

.input-amount span {
  position: absolute;
  left: 2rem;
  font-weight: 600;
  color: #8d8d8d;
}

.input-amount input {
  padding-left: 3.4rem;
}

textarea {
  padding: 14px 24px;
  width: 522px;
  height: 204px;
  line-height: 24px;
}

textarea::placeholder {
  font-size: 1rem;
  color: #8d8d8d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

#map {
  height: 300px;
}

.avatar {
  max-width: 168px;
  max-height: 168px;
  border-radius: 50%;
  border: 2px solid #d2d2d2;
  overflow: hidden;
  margin: 0 auto;
}

.error-message {
  color: red;
  font-size: 16pt;
  padding: 0.5rem;
}

input::file-selector-button {
  font-weight: bold;
  background-color: #fff;
  padding: 0.8rem 2rem;
  border: 1px solid #000;
}

input::file-selector-button:hover {
  cursor: pointer;
}
