@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

/* Mobile */
.tablet-and-desktop-view {
  display: none;
}

.mobile-view {
  position: relative;
}

.m-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 2rem;
  gap: 2rem;
  background-color: rgb(230, 230, 230, 0.3);
  z-index: -1;
}

.logo-icon {
  width: 3.8rem;
}

.search-icon,
.bell-icon,
.hamburger-icon {
  width: 1.6rem;
}

.cross-icon {
  width: 2.2rem;
}

.logo-group,
.nav-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.nav-items {
  gap: 1.4rem;
  justify-content: flex-end;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.logo-group *:hover,
.nav-items *:hover,
.cross-icon:hover {
  cursor: pointer;
}

.logged-out-sidebar,
.logged-in-sidebar {
  display: none;
  width: 256px;
  background-color: #fff;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.cross-icon {
  display: block;
  margin-top: 2rem;
  margin-left: 12rem;
}

.sidebar-items {
  margin-top: 5rem;
  display: flex;
  gap: 1.4rem;
  justify-content: flex-end;
  flex-flow: column nowrap;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0 2rem;
}

.sidebar-items p {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 18px;
}

.sidebar-active {
  display: block;
}

/* Tablet */
@media screen and (min-width: 700px) {
  .mobile-view {
    display: none;
  }

  .tablet-and-desktop-view {
    width: 100%;
    display: flex;
  }

  .td-logged-out,
  .td-logged-in,
  .td-create-listing {
    display: none;
    padding: 16px 2rem;
    gap: 1rem;
    background-color: rgb(230, 230, 230, 0.3);
    width: 100%;
  }

  .td-logged-out,
  .td-logged-in {
    grid-template-columns: 1fr 1fr 4fr;
  }

  .td-create-listing {
    grid-template-columns: 1fr 1fr;
  }

  .logo-icon {
    width: 3rem;
  }

  .logo-title {
    display: none;
  }

  .searchbar-icon,
  .bell-icon {
    width: 1.4rem;
  }

  .user-image {
    width: 2rem;
    border-radius: 50%;
  }

  .searchbar-group,
  .user-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .user-group {
    gap: 0.4rem;
    padding: 0;
  }

  .nav-items {
    gap: 1.4rem;
  }

  .searchbar-group {
    position: relative;
    max-width: fit-content;
  }

  .searchbar {
    width: 150px;
    padding: 12px 12px 12px 24px;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    background-color: rgb(230, 230, 230, 0.3);
  }

  .searchbar-icon {
    position: absolute;
    right: 5%;
  }

  .searchbar::placeholder {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8d8d8d;
  }

  .td-active-nav {
    display: grid;
  }
}

@media screen and (min-width: 864px) {
  .searchbar {
    width: 320px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .td-logged-out,
  .td-logged-in {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .logo-title {
    font-family: "Bevan", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: block;
  }

  .searchbar {
    width: 410px;
  }
}

/* Modal */

.auth-modal,
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.auth-modal .login-form,
.modal .form,
.auth-modal .register-form {
  display: none;
  background-color: white;
  padding: 1.5rem;
  border-radius: 28.14px;
}

.auth-modal.is-open,
.modal.is-open,
.modal.is-open .form,
.login-form.is-open,
.register-form.is-open {
  display: flex;
}

.form {
  display: flex;
  flex-flow: column nowrap;
}

.form input,
.form button {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
}

.size-50 {
  width: 50%;
}

.size-33 {
  width: 33.333%;
}

.center-margin {
  margin: 0 auto;
}

/* PROFILE */
.profile h1 {
  text-align: center;
}

/* CREATE LISTING */
.create-listing-wrapper h2 {
  color: #ff9d44;
  margin-bottom: 1rem;
}

.input-group-header {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.checkbox-header {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #595959;
  margin-bottom: 0.4rem;
}

.checkboxes {
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 1rem;
}

.textarea-info-text {
  margin-bottom: 1rem;
  color: #8d8d8d;
}

.create-listing-wrapper #map {
  width: 522px;
  height: 180px;
}

.create-listing-wrapper {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 1rem 0;
  padding-bottom: 10rem;
}

.create-listing-wrapper input,
.create-listing-wrapper label,
.create-listing-wrapper textarea {
  display: block;
}

.create-listing-wrapper textarea {
  border-radius: 10px;
}

.create-listing-wrapper textarea:focus {
  outline: none;
}

.create-listing-wrapper input {
  margin-bottom: 0.4rem;
}

.listing-btns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 8rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
}

.listing-btns div:last-of-type {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6rem;
  justify-content: flex-end;
}

.input-group {
  margin-bottom: 2rem;
}

.step {
  padding: 2rem 0 1rem;
  display: none;
}

.checkbox input,
.checkbox label {
  display: inline;
}

.rooms-counter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.decrement-icon,
.increase-icon {
  width: 1.5rem;
}

.decrement-icon:hover,
.increase-icon:hover {
  cursor: pointer;
}

.counterValue {
  color: #8d8d8d;
  font-size: 1.2rem;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  align-items: center;
  margin: 1.4rem 0;
}

.rooms > label {
  font-size: 1.2rem;
}

.rooms:last-of-type {
  margin-bottom: 3rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.checkboxes-pets {
  display: flex;
  flex-flow: column nowrap;
}

/* Groups */
.groups-container {
  display: flex;
  flex-flow: column nowrap;
}

.checkboxes-pets .checkbox {
  margin-bottom: 0.8rem;
}

.checkboxes-pets .checkbox input {
  width: 18px;
  height: 18px;
  margin: 0;
}

.pets-section {
  margin-bottom: 8rem;
}

.photos-box {
  max-width: 522px;
  height: 260px;
  display: grid;
  place-items: center;
  padding: 3rem 6rem;
  background: #fdfdfd;
  border: 1px dashed #8d8d8d;
  border-radius: 10px;
}

.photos-box h4 {
  margin-bottom: 0.6rem;
}

.photos-box p {
  font-size: 0.9rem;
  padding: 0.2rem 0;
  color: #595959;
}

#uploadedImage {
  margin-top: 3rem;
}

.uploaded-photos-box {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-bottom: 10rem;
}

.uploaded-photos-box img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.image-uploads-text {
  color: #595959;
  font-size: 1.1rem;
  font-family: 'Space Grotesk', sans-serif;
  flex-grow: 1;
  flex-basis: 100%;
}

.uploaded-image {
  position: relative;
}

.delete-photo-icon {
  width: 30px !important;
  position: absolute;
  top: -46%;
  right: -10%;
}

.delete-photo-icon:hover {
  cursor: pointer;
}

.listing-header {
  padding: 2rem 8rem;
  border-bottom: 1px solid #8d8d8d;
}

.active-step {
  display: block;
}

.hideBtn {
  display: none;
}

.groups-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.groups-header button {
  height: 2.8rem;
}

.groups-content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.group-list,
.group-feed {
  border: 2px solid #e6e6e6;
  overflow: hidden;
}

.group-list {
  width: 33%;
  border-radius: 16px;
}

.group-list-title {
  padding: 1rem;
  background-color: #e6e6e6;
}

.group-list-search-container {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.group-list-content {
  display: flex;
  flex-flow: column wrap;
}

.group-list-item {
  padding: 1rem;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}

.group-list-item:hover {
  background-color: #e6e6e6;
}

.group-feed {
  width: 66%;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.group-feed-header {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff5ec;
  padding: 1rem;
}

.group-feed-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.group-feed-name {
  font-weight: bold;
  margin-bottom: 1rem;
}

.group-feed-participants {
  font-size: 10pt;
}

.group-feed-messages {
  padding: 1rem;
}

/* Listing Page */
.listing-view-wrapper {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.listing-view-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
}

.listing-view-header button {
  max-height: 48px;
}

#listingMap {
  width: 100%;
  height: 45vh;
}

#listingMap.leaflet-container  {
  position: absolute;
  visibility: hidden;
}

#listingMap.leaflet-container.show  {
  position: relative;
  visibility: visible;
}

#listingView {
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#listingView .listing-card {
  max-width: 430px;
}

#singleListingDiv {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}


@media screen and (min-width: 600px) {
  #listingView {
    flex-flow: row wrap;
    gap: 0.5rem;
  }
  #listingView .listing-card {
    max-width: 320px;
  }
}
@media screen and (min-width: 1220px) {
  #listingView .listing-card {
    max-width: 20%;
  }
}


.group-feed-message {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.group-feed-message .avatar {
  width: 48px;
  height: 48px;
  margin: unset;
  margin-right: 1rem;
}

.group-feed-form {
  border-top: 1px solid #e6e6e6;
  display: flex;
}

.group-feed-form input,
.group-feed-form button {
  margin: 0;
  border: none;
  border-radius: 0;
  height: 2.8rem;
}

.group-feed-form input {
  flex: 0 0 80%;
}

.group-feed-form button {
  flex: 0 0 20%;
}
